.account {
    padding: 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    transition: 200ms ease-in-out 0s;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.user-avata {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}

.user-nickName {
    color: rgb(22, 24, 35);
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: -2px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: lowercase;
}

.user-name {
    color: rgba(22, 24, 35, 0.75);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.checkIcon {
    margin-left: 6px;
    width: 14px;
    height: 14px;
    color: rgb(32, 213, 236);
}

.user-realName {
}

// SuggestedAccount

.wrapper {
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

.label {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.viewMore {
    color: rgb(254, 44, 85);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
}
.border-bottom {
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
    height: 1px;
    width: 95%;
    margin-top: 8px;

    display: block;
}
.tippy-border {
    position: absolute;
    left: 0;
    width: 320px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
}
