.wrapper {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    .avatar-user {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .user_info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .user_name {
            display: flex;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            align-items: center;

            .check {
                width: 12px;
                height: 12px;
                color: rgb(32, 213, 236);
                margin-left: 4px;
            }
        }
        .real_name {
            font-size: 14px;
            line-height: 20px;
            color: rgba(22, 24, 35, 0.5);
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
