@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Open+Sans:wght@400;500;600&display=swap');

:root {
    // Defauly Layout
    --default-layout-header-height: 6rem;
    --default-layout-width-content: 115rem;
    --sidebar-width: 34rem;
    --border-color-box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
